html body {
  background-color: #111d29;
}

html body a {
  color: #b1d237 !important;
}

html body {
  color: #fff !important;
}

#SIvCob {
  color: #fff !important;
}

#SIvCob a {
  color: #b1d237 !important;
}

.e9EfHf,
.WE0UJf,
.yg51vc,
.sfbg {
  background-color: #111d29 !important;
}

#gb {
  background-color: #111d29 !important;
}
